.item{
    display: flex;
padding: 10px;
    width: 90%;
    margin: auto auto;
    background-color: aliceblue;
   
    
}
.item__description{
    width: 50%;
    height: 100%;
    text-align: left;
    vertical-align: middle;
    
}
.right{
    width: 50%;
    text-align: right;
    height: 100%;
    vertical-align: middle;
}